[submodule "ext/Glad"]
	path = ext/Glad
	url = https://github.com/XakNitram/Glad.git
[submodule "ext/GLFW"]
	path = ext/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm.git
